* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #f2f6f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

.book {
  background: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  /* Set relative */
  position: relative;
}
.book img {
  width: 100%;
  object-fit: cover;
}
.book h2 {
  font-size: 1rem;
  margin-top: 1rem;
}

.book h4 {
  /* Won't work */
  /* color: red; */
  /* Will work */
  /* letter-spacing: 2px; */

  color: #617d98;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin-top: 0.5rem;
}

.book p {
  margin: 1rem 0 0.5rem;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #c35600;
  font-size: 1rem;
  /* padding: 0.75rem; */
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
