* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  background: #f2f6f8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
}
.book img {
  width: 100%;
  object-fit: cover;
}
.book h2 {
  font-size: 1rem;
  margin-top: 1rem;
}

.book h4 {
  /* Won't work */
  color: red;
  /* Will work */
  letter-spacing: 2px;
}
